#instaPostCard {
    background-color: #111010;
    border: 0.8px solid #dbdbdb;
    border-radius: 8px;
    margin: 82px;
    width: 25%;
    padding: 5px;
    font-family: Arial, sans-serif;
    display: inline-block;
    align-self: center;
    border-radius: 13px;
    
  }
 
  .imagebox{
    position:relative;
    width:  -webkit-fill-available;
  }
  #navbarSupportedContent {
    display: flow;
    align-items: center; 
    /* justify-content: space-between; */
  }
  #profilePicturex:hover{
    transition: ease-out 0.5s;
    transform: scale(1.1);
    /* scale: (0.1); */
  }
  #profilePicturex {
    margin: 0  280px; 
    /* background: black; */
   transition: ease-in 0.8s;
    transform: scale(0.9);
    background-image: url("./images/logoc.png");
  }
  #profilePicture{background-color: white;background-image: url("./images/DP.png");}
  #profilePicture,#profilePicturex {
    width: 55px;
    height: 55px;
   
    border-radius: 50%;
   
    background-size: cover;
    background-position: center;
  }
.post-image1 {
display: flex;
align-self: center;
object-fit: cover;
justify-content: center;
  }
  #postImage {
    width:auto;
    background-image: url("./images/mn.jpg");
    height: auto;
  }
  .containerimg{
    color: white;
    display: flex;
    justify-content: center;
  }
  .container{
    display: inline-table;
    justify-content: center;
  }
  #tagIconArea {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .material-icons {
    color: #fff;
  }
 
  #countLikes {
    font-weight: bold;
  }
  
  #postTextUserName a {
    color:white;
  }
  

 