#instaPostCard {
    background-color: #000;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    margin: 82px;
    width: 25%;
    padding: 5px;
    font-family: Arial, sans-serif;
    display: inline-block;
    align-self: center;
    border-radius: 13px;
    /* border: 2px solid rgba(63, 23, 1, 0.74); */
    /* text-align: justify; */
  }
  .imagebox{
    position:relative;
    width:  -webkit-fill-available;
  }
  #profilePicture {
    width: 55px;
    height: 55px;
    border-radius: 50%;
   background-image: url("qw.jpg");
    background-size: cover;
    background-position: center;
  }
.post-image1 {
display: flex;
align-self: center;
object-fit: cover;
justify-content: center;
  }
  #postImage {
    width:auto;
    background-image: url("mn.jpg");
    height: auto;
  }
  .container{
    display: inline-table;
    justify-content: center;
  }
  #tagIconArea {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .material-icons {
    color: #fff;
  }
 
  #countLikes {
    font-weight: bold;
  }
  
  #postTextUserName a {
    color: black;
  }
  

 