.messageBox{
    padding: 1.4vmax;
    margin: 1.3vmax;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vmax;
    clear: both;
    font-size: 1.2vmax;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right{
    /* float: right; */
    background-color: crimson;
    color: white;
    font-size: 1.29vmax;
    display: inline-block;
     align-items: center;
     justify-content: center;
     /* float: ce; */
     border-radius: 7px;
     text-align: center;
}

.left{
    font-size: 1.29vmax;
   display: inline-block;
    align-items: center;
    justify-content: center;
    /* float: ce; */
    border-radius: 7px;
    text-align: center;
    background-color: rgb(196, 255, 184);
    
}